@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit (Safari, Chrome, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #1a202c;
}

/* For Firefox */
/* These are example styles; you may need to adjust them */
.scrollbar {
  scrollbar-width: thin;
}

.scrollbar-track {
  background: #1a202c;
}

@layer base {
  body {
    @apply overflow-x-hidden;
  }
}
